*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #2c2c31;
  }

::-webkit-scrollbar-thumb{
   background-color: #9e9ea0;
}

@keyframes entering{
    from {
        opacity: 0;
        transform: translateY(-200px);
    } 
    to {
        opacity:1;
        transform: translateY(0)
    }
}

body{
    background-color: #121215;
    color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: "profile timeline";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
 }

nav{
    overflow-y: scroll;
    padding: 64px;
    grid-area: timeline;
}

.memory{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 64px;
    animation: entering 1.5s;
}


.memory small{
    color: #BEBEBF;
    font-size: 12px;
    
}

.memory h1{
    font-size: 32px;
}

.memory div{
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 8px;
}

.memory img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
    transition: .5s;
    
}

.memory img:hover{
    transform: scale(1.1);
}

.memory p{
    font-size: 18px;
    color: #BEBEBF;
    line-height: 28px;
}

aside{
    grid-area: profile;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid ;
    border-image: linear-gradient(#727275,#2c2c31,) 1;
    gap: 20px;
    background-image: url("../assets/background.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

aside *{
    animation: entering 1.5s;
}

aside img:nth-child(2) {
    width: 100%;
    max-width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid transparent;
    background: linear-gradient(#d39e33,#ed5636,#633bbc) padding-box,
    linear-gradient(#d39e33,#ed5636,#633bbc) border-box;
}

aside p{
    font-size: 32px;
    text-align: center;
}

aside span{
    font-size: 12px;
    color: #9e9ea0;
}
